.home-container {
	min-height: 30vh;
	height: 50vh;
	background-color: #251c61;
	color: white;
	clip-path: ellipse(75% 100% at 50% 0%);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	z-index: -10;
}

.home-content {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	font-size: xx-large;
	margin-bottom: 5vh;
}

button {
	color: white;
	background-color: red;
	border: none;
	border-radius: 30px;
	font-size: xx-large;
	padding: 1rem;
}
